* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    height: 60px;
}

.navlist {
    display: inline;
}

.navlist ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navlist ul a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.banner {
    background-image: url('../asset/image/background.jpg'), linear-gradient(#e66465, #9198e5);
    background-blend-mode: overlay;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.button {
    display: flex;
    gap: 10px;
    border: none;
}

.btn-primary {
    border: none;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 8px;

}

.btn-secondary {
    border: none;
    padding: 10px 20px;
    background-color: lightgray;
    color: black;
    border-radius: 8px;

}

.banner {
    display: flex;
    align-items: center;


}

.banner-2 {
    display: flex;
    align-items: center;
    width: 500px;
    margin: auto;
    color: white;
}

.profile {
    display: flex;
    align-items: center;
}

.klsdfaj {
    height: 100vh;
    background-image: url("../asset/image/footer-bg.png"), linear-gradient(rgb(128, 128, 128), rgb(128, 128, 128));
    background-blend-mode: overlay;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.div-1 {
    width: 30%;
}

.icon {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.klsdfaj {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.picture {
    display: flex;
    align-items: center;
}

.first-one {
    display: flex;
    width: 197px;
    gap: 20px;

}

.div-icon {
    width: 40%;
}

.div-3 {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.card {
    padding: 40px;
    margin-top: 10px;
    background-color: white;
}